/* Select Field
   ========================================================================== */
.input-select {
    select { display: none; }
    select.browser-default { display: block; }
    margin-top: 0.5rem;
    
    select {
        background-color: rgba(255,255,255,0.9);
        width: 100%;
        padding: 3px;
        border: 1px solid #f2f2f2;
        border-radius: 2px;
        height: 3rem;
        color: color(primary-color);
        font-size: 1rem;
        font-weight: lighter;
    }
}
   
   