/* Select Field
   ========================================================================== */
.input-select {
    margin-top: 0.5rem;
    select { display: none; }
    select.browser-default { display: block; }
    
    select {
        background-color: rgba(255,255,255,0.9);
        width: 100%;
        padding: 5px;
        border: 1px solid color(primaryB-color);
        border-radius: 2px;
        height: 3rem;
    }
}
   
   