// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

/***************/
/*** ICONS ***/
/***************/

@font-face {
  font-family: 'icon';
  src:  url('/assets/fonts/icon.eot?oumoia');
  src:  url('/assets/fonts/icon.eot?oumoia#iefix') format('embedded-opentype'),
    url('/assets/fonts/icon.ttf?oumoia') format('truetype'),
    url('/assets/fonts/icon.woff?oumoia') format('woff'),
    url('/assets/fonts/icon.svg?oumoia#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-copy-solid:before {
  content: "\e901";
}
.icon-file-code-solid:before {
  content: "\e902";
}
.icon-file-download-solid:before {
  content: "\e903";
}
.icon-copy-regular:before {
  content: "\e904";
}
.icon-sort-down-solid:before {
  content: "\e900";
}
.icon-italic-solid:before {
  content: "\e915";
}
.icon-arrow-right-solid:before {
  content: "\e916";
}
.icon-arrow-left-solid:before {
  content: "\e917";
}
.icon-clipboard-list-solid:before {
  content: "\e918";
}
.icon-bold-solid:before {
  content: "\e919";
}
.icon-folder-open-solid:before {
  content: "\e91a";
}
.icon-times-circle-solid:before {
  content: "\e91b";
}
.icon-print-solid:before {
  content: "\e91c";
}
.icon-list-alt-regular:before {
  content: "\e91d";
}
.icon-file-regular:before {
  content: "\e91e";
}
.icon-calendar-alt-regular:before {
  content: "\e91f";
}
.icon-save-solid:before {
  content: "\e920";
}
.icon-check-circle-regular:before {
  content: "\e921";
}
.icon-check-circle-solid:before {
  content: "\e922";
}
.icon-chevron-left-solid:before {
  content: "\e923";
}
.icon-chevron-right-solid:before {
  content: "\e924";
}
.icon-chevron-circle-right-solid:before {
  content: "\e925";
}
.icon-link-solid:before {
  content: "\e926";
}
.icon-window-maximize-regular:before {
  content: "\e927";
}
.icon-i-cursor-solid:before {
  content: "\e928";
}
.icon-store-alt-solid:before {
  content: "\e929";
}
.icon-home-solid:before {
  content: "\e92a";
}
.icon-briefcase-solid:before {
  content: "\e92b";
}
.icon-building-solid:before {
  content: "\e92c";
}
.icon-thumbs-up-regular:before {
  content: "\e92d";
}
.icon-save-regular:before {
  content: "\e92e";
}
.icon-multiple-modal:before {
  content: "\e92f";
}
.icon-plus-circle-solid:before {
  content: "\e930";
}
.icon-times-solid:before {
  content: "\e931";
}
.icon-ellipsis-h-solid:before {
  content: "\e932";
}
.icon-ellipsis-v-solid:before {
  content: "\e933";
}
.icon-plus-solid:before {
  content: "\e934";
}
.icon-info-solid:before {
  content: "\e935";
}
.icon-trash-alt-regular:before {
  content: "\e936";
}
.icon-switch:before {
  content: "\e937";
}
.icon-google-plus-g-brands:before {
  content: "\e938";
}
.icon-twitter-brands:before {
  content: "\e939";
}
.icon-facebook-f-brands:before {
  content: "\e93a";
}
.icon-info-circle-solid:before {
  content: "\e93b";
}
.icon-file-word-solid:before {
  content: "\e93c";
}
.icon-file-pdf-solid:before {
  content: "\e93d";
}
.icon-expand-solid:before {
  content: "\e93e";
}
.icon-modal-icon:before {
  content: "\e93f";
}
.icon-spinner-solid:before {
  content: "\e940";
}
.icon-eye-solid:before {
  content: "\e941";
}
.icon-thumbs-up:before {
  content: "\e942";
}
.icon-document:before {
  content: "\e943";
}
.icon-search:before {
  content: "\e944";
}
.icon-envelope-open-text:before {
  display: block;
  content: '';
  width: 2rem;
  height: 2rem;
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='envelope-open-text' class='svg-inline--fa fa-envelope-open-text fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='rgb(85,98,112)' d='M176 216h160c8.84 0 16-7.16 16-16v-16c0-8.84-7.16-16-16-16H176c-8.84 0-16 7.16-16 16v16c0 8.84 7.16 16 16 16zm-16 80c0 8.84 7.16 16 16 16h160c8.84 0 16-7.16 16-16v-16c0-8.84-7.16-16-16-16H176c-8.84 0-16 7.16-16 16v16zm96 121.13c-16.42 0-32.84-5.06-46.86-15.19L0 250.86V464c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V250.86L302.86 401.94c-14.02 10.12-30.44 15.19-46.86 15.19zm237.61-254.18c-8.85-6.94-17.24-13.47-29.61-22.81V96c0-26.51-21.49-48-48-48h-77.55c-3.04-2.2-5.87-4.26-9.04-6.56C312.6 29.17 279.2-.35 256 0c-23.2-.35-56.59 29.17-73.41 41.44-3.17 2.3-6 4.36-9.04 6.56H96c-26.51 0-48 21.49-48 48v44.14c-12.37 9.33-20.76 15.87-29.61 22.81A47.995 47.995 0 0 0 0 200.72v10.65l96 69.35V96h320v184.72l96-69.35v-10.65c0-14.74-6.78-28.67-18.39-37.77z'%3E%3C/path%3E%3C/svg%3E")
}
